#contact {
    width: 100%;
    height: 100%;
    /*background-image: url("Fluid-Images/contact_us_background.jpg");*/
    background: #fff;
    padding-top: 100px; 
    padding-bottom: 100px;
}
#footer {
    padding-top: 0px;
    padding-left: inherit;
    padding-right: inherit;
    margin-top: 0px;
}
@media screen and (max-width: 1399px) {
    .navbar>.container {
        padding-right: 3.5rem;
    }
    .cont { 
        border-bottom: 1px solid; 
    }
}
.navbar .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #272727;
    letter-spacing: .5px;
    margin: 0;
    padding: 10px 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    transition: all .5s;
    text-align: left;
    text-transform: uppercase;
}
.navbar-brand {
    font-size: 25px;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('Fluid-Images/MainBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
}
.masthead:before { 
    content: '';
    background: url('Fluid-Images/wave.png');
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left:0;
    animation: wavyboi 10s linear infinite;
}
.masthead:after { 
    content: '';
    background: url('Fluid-Images/wave.png');
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left:0; 
    opacity: 0.5;
    animation: wavyboi-reverse 10s linear infinite;
}
@keyframes wavyboi { 
    0% { background-position: 0;}
    100% { background-position: 1360px;}
}
@keyframes wavyboi-reverse { 
    0% { background-position: 1360px;}
    100% { background-position: 0;}
}
