html {
    scroll-behavior: smooth;
}
#contact {
    width: 100%;
    height: 100%;
    background-image: url('Fluid-Images/contact-us-background.jpeg');
    padding: 5% 0%;
}
#contact-header {
    color: #fff;
}
#contact-subheader {
    color: #d6d6d6;
}
#footer {
    padding-top: 15px;
    padding-left: inherit;
    padding-right: inherit;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.card {
    border: none!important;
}
@media only screen and (max-width: 1399px){
    .cont {
        border-bottom: 1px lightgray solid;
        padding-top: 5px;
    }
}
.col-lg-4.col-md-4.col-sm-12 { 
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}
.col-lg-4.col-md-4.col-sm-12 img:hover {
    opacity: 0;
    transition: all 2s;
}
.col-lg-4.col-md-4.col-sm-12 img {
    border: #272727 2px solid;
}
.navbar .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #272727;
    letter-spacing: 1.5px;
    margin: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    text-align: left;
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-link:hover { 
    background-color: #272727;
    color: #fff;
    transition: all linear .7s; 
}
.navbar-brand {
    font-size: 25px;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('Fluid-Images/MainBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
.fa.fa-phone {
    font-size: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.fa.fa-map-marker {
    font-size: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.fa.fa-envelope {
    font-size: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.fa-facebook-official:hover {
    color: rgb(15, 75, 185);
    transition: color .5s ease;
}
.fa-instagram:hover {
    color: rgb(235, 160, 62);
    transition: color .5s ease; 
}
.fa-twitter-square:hover {
    color: rgb(57, 125, 252);
    transition: color .5s ease;
}
.masthead:before { 
    content: '';
    background: url('Fluid-Images/wave.png');
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left:0;
    animation: wavyboi 8s linear infinite;
}
.masthead:after { 
    content: '';
    background: url('Fluid-Images/wave.png');
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left:0; 
    opacity: 0.5;
    animation: wavyboi-reverse 8s linear infinite;
}
.bg-dark {
    transition: 750ms ease-in;
    background-color: transparent!important;
}
.bg-dark.scrolled {
    background-color: #ebebebec!important;
}
@keyframes wavyboi { 
    0% { background-position: 0;}
    100% { background-position: 1360px;}
}
@keyframes wavyboi-reverse { 
    0% { background-position: 1360px;}
    100% { background-position: 0;}
}
#services {
    padding: 5% 0%;
    background-image: url('Fluid-Images/services_background.jpg');
    color: #fff;
}
.services-icon {
    font-size: 32px;
}
.service-description {
    padding: 0% 2.5%;
}
.fa.fa-code{
    color: #FF0000;
}
.fa.fa-camera-retro {
    color: #FFC000;
}
.fa.fa-tablet {
    color: #4bf442;
}
.fa.fa-bar-chart {
    color: #00bbff;
}
.fa.fa-ticket {
    color: #FF00FF;
}